body {
    font-family: Arial, sans-serif;
    background-color: #fff8f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #d62828;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #d62828;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}





.image {
    text-align: center;
    margin-top: 20px;
}

.image img {
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}
